/***The base***/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
:root{
    --textcolor:black;
    --background-color: white;
    --footerbackground:black;
    --animation:cubic-bezier(0.17, 0.67, 0, 1.01);
    --animationtime:3s;
    --primarycolor:white;
    --secondarycolor:orange;
    --textcolor:color;
    --font-size-small: 1.2rem;
    --font-size-medium: 1.6rem;
    --font-size-large: 1.8rem;
    --font-size-x-large: 2.3rem;
    --font-size-xx-large: 4.8rem;
  
    --font-weight-regular: 400;
    --font-weight-bold: 700;
}
/*form*/
input[type=text],{
    width: auto;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit] {
    width: auto;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  input[type=text]:focus {
    background-color: lightblue;
    border: 3px solid #555;
  }
/***Header***/
.header{
    background-image: url("/headphones/images/headphones_hero_1.jpg");
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
/**Menu**/
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
a{
    text-decoration: none;
    color: aqua;
    cursor: pointer;
    box-shadow: 10px 5px red;
}
a:hover{
    font-size: 120%;
    color: orange;
    transition: var(--animation);
    transition: var(--animationtime);

}
a:active{
    text-decoration: double;
    background-color: orange;
    color:white;

}
/**logo**/
.logo{
    border: 5px double red;
    border-radius: 50px;
    padding: 10px;
}
.logo:hover{
    cursor: grab;
    animation: rotation 2s infinite linear;
}
/*Header*/
.heading{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.heading h1{
    font-size: var(--font-size-xx-large);
    color:var(--primarycolor);
    font-weight:var(--font-weight-bold);
}
heading .red{
    color:red;
}
.heading p{
    font-size: var(--font-size-small);
    color: var(--primarycolor);
    font-weight: var(--font-weight-regular);
    border:1px double var(--secondarycolor);
}
.heading .contactus{
    background-color: var(--secondarycolor);
    color: var(--primarycolor);
    box-shadow: 5px 2px var(--primarycolor);
}
/*Services*/
.services{
    background-color: var(--background-color);
}
.services .heading{
    text-align: center;
    color: var(--textcolor);
}
.services .heading h2{
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
    text-align: center;
}
.services .heading p{
    text-align: justify;
}
/*Activities*/
.activities{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: 0 0 0 1px black;
}
.activities h4{
    color: var(--textcolor);
    text-align: center;
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-medium);
}
.activities p{
    color: var(--textcolor);
    text-align: center;
    font-weight: var(--font-weight-regular);
    font-size: var(--font-size-small);
}
.activities i{
    color: var(--secondarycolor);
}
/*Results*/
.results h3{
    color: var(--primarycolor);
    font-size: var(--font-size-x-large);
    font-weight: var(--font-weight-bold);
    text-align: center;
}
.results p{
color: var(--primarycolor);
text-align: center;
font-weight: var(--font-weight-regular);
font-size: var(--font-size-small);
}
.results .percentage{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0 0 0 1px black;
}
.results h4{
    margin-top: -10px;
}
.results p{
    margin-top: -10px;
    font-size: 1em;
    font-weight: var(--font-weight-regular);
}
/*Contact*/
.contact{
    background-color: var(--background-color);
    align-items: center;
}
.contact h3{
    font-weight: var(--font-weight-bold);
    font-size: var(--font-size-x-large);
    color: var(--textcolor);
}
form{
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 20px;
}
/*Footer*/
footer{
    background-color: var(--background-color);
    color: var(--primarycolor);
}
footer .main{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}
.footer .main .log{
    align-items: start;
    border: 2px dotted red;
}
.main .icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
footer p{
    color: var(--primarycolor);
    text-align: center;
    font-weight: var(--font-weight-regular);
}
/*Media Queries*/
/*
<600px, <768px, <992px, 1200px
*/
@media screen and (max-width=600px;) {
    /.navbar{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    /**Menu**/
    .menu{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .activities{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-shadow: 0 0 0 1px black;
    }
    .results .percentage{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
}
/*two column display*/
@media screen and (max-width:768px;) {
    .activities{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        box-shadow: 0 0 0 1px black;
        flex:wrap 50%;
    }
    .results .percentage{
        display: flex;
        flex-direction: row;
        flex: wrap 50%;
        justify-content: space-evenly;
        align-items: center;
        box-shadow: 0 0 0 1px black;
    }
}
/*Menu on small screens*/
@media screen and (max-width:768px;){
    .menu{
        display: block;
        text-align: left;
        position: absolute;
        float: none;
        top: 0;
        right: 0;
    }
}